<h1>マイページ</h1>
<div class="image_box">
  <%= image_tag("/user_images/#{@mypage.image}", class: "image")%>
  <%= @mypage.name %><br>
</div>

<% if @current == nil %>

<% elsif @current.id == @mypage.id %>
  <%= link_to("プロフィール編集", "/mypage_edit/#{@mypage.id}") %><br>

<% elsif @current.id != @mypage.id %>
  <% if @follow_check %>
    <%= form_tag("/follow_out/#{@mypage.id}") do %>
      <input type="submit" value="フォロー解除"><br>
    <% end %>
  <% elsif %>
    <%= form_tag("/follow_in/#{@mypage.id}") do %>
      <input type="submit" value="フォローする"><br>
    <% end %>
  <% end %>

<% end %>

<%= link_to("フォロー", "/follower/#{@mypage.id}") %><%= "#{@follower_count}人" %><br>
<%= link_to("フォロワー", "/followed/#{@mypage.id}") %><%= "#{@followed_count}人" %>


<h1>投稿一覧</h1>
<% @user_posts.each do |post| %>
  <div class="image_box">
    <%= image_tag("/user_images/#{post.user.image}", class: "image")%>
    <%= link_to(post.user&.name || "NoName", "/mypage/#{post.user.id}")%><br>
  </div>
  <%= post.text %><br>

  <% if @current %>
    <% if @current.id == @mypage.id %>
      <%= button_to "削除","/post_delete/#{post.id}", method: :delete %><br>
    <% end %>
  <% end %>
  <br>
<% end %>